*{
  font-family: 'Cabin', Sans-serif;
}

:root {
  --dark: #2d3142;
  --light: #ffffff;
  --medium-light: #bfc0c0;
  --medium-dark: #4f5d75;
  --bright-offset: #ef8354;
  }
 
header p{
      text-align: right;
  }

img {
  filter: grayscale(100%);
}

.header-container{
  background-color: var(--dark);
  color: var(--light);
  min-height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}   

.title-box{
  width: 33%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0%;
}

.title-header{
  text-align: right;
}

.detail {
  width: 66%;
  float: right;
  display: inline;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 5px;
  align-items: stretch;
  border-left: 10px solid var(--medium-dark);
}

.container-aboutme, .container-work-links, .container-contacts{

  height: max-content;
  float: left;
  margin: 5px;
  width: 100%;
  flex-direction: row;
}

.primary-work, .secondary-work {
  width: 66%;
  flex-direction: row;
  flex-wrap: wrap;
  float: right;
  border-left: 10px solid var(--medium-dark);
  overflow: hidden;
  padding-left: 5px;

}

.container-contacts{
  background-color: var(--dark);
  position: absolute;
  bottom:36px;
  margin: 0px;

}

.container-contacts .title-box{
  color: var(--medium-light);
}

.contacts-listing{
  width: 66%; 
  display: flex;
  float: right;
  justify-content: space-around;
  align-items: center;
  border-left: 10px solid var(--medium-light);
  height: 50px;
  padding-left: 5px;
}

.contacts-listing a {

  text-decoration: none;
  color: var(--medium-light);
  position: relative;
}

.primary-work img {
  border-radius: 5px;
  width: 100%;
  height: 150px;
  object-fit:cover;
  justify-content: center;
}

.secondary-work img {
  border-radius: 5px;
  width: 49.5%;
  object-fit: cover;
  justify-content: center;  
  height: 50px; 
  overflow: hidden;
}

.main-menu{
  display: block;
  height: 50px;
  width: 100%;
  position: sticky;
  position: -webkit-sticky; /*Safari*/
  top: 0;
}

.main-menu ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--medium-light);
}

.main-menu li {
  list-style-type: none;
  font-size: 2rem;
}

.main-menu a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--medium-dark);
}

.main-menu a:hover {
  background-color: var(--medium-light);
  color: var(--dark);
  border-radius: 2px;
}

.contacts-listing a:hover {
  background-color: var(--light);
  color: var(--dark);
  border-radius: 2px;
  padding: 5px;
  border: var(--dark) solid 2px;
}

.primary-work img:hover,
.secondary-work img:hover{
  opacity: .5; 
  transform: scale(1.2);
  transition: 0.5s;
}

.page-footer{
  position: absolute;
  bottom: 0%;
  width: 100%;
  text-align: center;
  background-color: var(--dark);
  color: var(--light);
}

.page-footer{
  position: absolute;
  bottom: 0%;
  width: 100%;
  text-align: center;
  background-color: var(--dark);
  color: var(--light);
}

#hamburger-input{
  display: none;
}

#hamburger-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(
      to bottom, 
      #2d3142, #2d3142 20%, 
      white 20%, white 40%, 
      #2d3142 40%, #2d3142 60%, 
      white 60%, white 80%, 
      #2d3142 80%, #2d3142 100%
    );
}

#hamburger-menu #sidebar-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: -250px;
  width: 200px;
  height: 100%;
  background-color: var(--dark);
  transition: 0.5s;
  padding: 0px 10px;
  box-sizing: border-box;
}

#hamburger-menu h3 {
  color: var(--medium-light);
  font-size: 2.2rem;
}

#hamburger-menu ul {
  padding-right: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: var(--medium-light);
  font-size: 1.3rem;
  text-decoration: none;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ .overlay{
  visibility: visible;
  opacity: 0.4;
}

@media screen and (max-width:992px) {

  .main-menu {
      display: none;
      }

  #hamburger-menu {
      display: inline;
      }

  .title-box {
    
      width: 100%;
      border-bottom: 10px solid var(--medium-dark);
      justify-content: center;
      }

    
  .primary-work, .secondary-work {
      width: 100%;
      display: inline;
      flex-direction: column;
      }

  .detail {
      width: 100%;
      flex-wrap: wrap;
      flex-direction: row;
      padding: 0%;
      height: 100%;
      }

  .contacts-listing, .primary-work, .secondary-work, .detail {
    border-left: 0px;
    flex-wrap: wrap;
    }

  .contacts-listing{
    width: 100%;
    display: flex;
    float: none;
    }

    header p{
      text-align: left;
  }

  .primary-work img {
    height: 100px;
  }

  .secondary-work img {
    height: 50px;
    width: 100%;
    flex-direction: column;
  }
}

